<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>19/03/31 15:05:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogInTest.Setup()[pri:0, instance:com.test.LogInTest@475530b9]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/03/31 15:05:47</td>   <td>31999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogInTest.Setup()[pri:0, instance:com.test.LogInTest@475530b9]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/03/31 15:05:46</td>   <td>31439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogInTest.TearDown()[pri:0, instance:com.test.LogInTest@475530b9]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/03/31 15:05:56</td>   <td>41044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogInTest.TearDown()[pri:0, instance:com.test.LogInTest@475530b9]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/03/31 15:05:56</td>   <td>40568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogInTest.crmLogoImageTest()[pri:2, instance:com.test.LogInTest@475530b9]">crmLogoImageTest</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/03/31 15:05:26</td>   <td>10870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogInTest.loginPageTitleTest()[pri:1, instance:com.test.LogInTest@475530b9]">loginPageTitleTest</td> 
  <td>main@1497973285</td>   <td></td> </tr>
</table>
